@{
	ViewData["Title"] = "Admin panel";
}

<nav class="container-fluid">
	<ul>
		<li>
			<img src="/img/open-sos-id-logo.png" height="32" width="32" />
			<strong>Open SOS Id</strong>
		</li>
	</ul>
	<ul>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="/logout" role="button">Log out</a></li>
	</ul>
</nav>

<main>

</main>