<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"]</title>
		<!--<link rel="stylesheet" href="~/css/pico.min.css" />
		<link rel="stylesheet" href="~/css/theme.css" />-->
		<link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/styles.css" />
		<script src="/js/index.js" defer></script>
	</head>

	<body>
		@RenderBody()
	</body>
</html>