<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"]</title>
		<!--<link rel="stylesheet" href="~/css/pico.min.css" />
		<link rel="stylesheet" href="~/css/theme.css" />-->
		<link href="/css/reset.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/styles.css" />
		<script src="/js/index.js" defer></script>
	</head>

	<body>
		<nav>
			<ul>
				<li>
					<img src="/img/open-sos-id-logo.png" height="42" width="42" />
					<h2>Open SOS Id</h2>
				</li>
			</ul>
			<ul>
				<li><a href="/profiles" aria-current="@ViewBag.NavRoute">Medical Profiles</a></li>
				<li><a href="/account">My Account</a></li>
				<li><a href="/admin">Administration</a></li>
				<li><a href="/logout" role="button">Log out</a></li>
			</ul>
		</nav>


		<main>
			@RenderBody()
		</main>
	</body>
</html>