@{
	ViewData["Title"] = "Profiles";
	Layout = "_Layout";
}

<article>
	<header>
		<hgroup>
			<h2>Medical Profiles</h2>
			<p>A list of all medical profiles associated with your user account</p>
		</hgroup>
	</header>

	<section>

		<button>
			Create a new profile
		</button>
	</section>
</article>