@{
	ViewData["Title"] = "Profiles";
}

<article>
	<header>
		<hgroup>
			<h1>Medical Profiles</h1>
			<p>A list of all medical profiles associated with your user account</p>
		</hgroup>
	</header>

	<section>
		<a href="/profiles/new" role="button">
			Create a new profile
		</a>
	</section>
</article>