@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-hyperlegible-latin-400-normal.woff2");
}

@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-hyperlegible-latin-700-normal.woff2");
	font-weight: bold;
}


@media screen and (max-width: 720px) {
	html {
		font-size: 16px!important;

		--spacing: 1.4rem!important;
		--spacing-sm: 0.8rem!important;
		--spacing-xs: 0.2rem!important;

		--wrap: wrap!important;
	}
}

html {
	font: 18px "Atkinson", sans-serif;
	letter-spacing: 0.02rem;
	color: #e2e2e2;

	--font-family: "Atkinson", sans-serif;
	--primary: #da3b46;
	--primary-shadow: #da3b4670;
	--primary-hover: #ee4450;
	--primary-inverse: #FFF;

	--color-bg: #171c23;
	--color-bg-accent: #1d242e;
	--color-bg-accent-2: #242d38;
	--color-bg-accent-3: #2f3a48;

	--border-radius: 6px;
	--border-radius-sm: 6px;

	--spacing: 2rem;
	--spacing-sm: 1rem;
	--spacing-xs: 0.4rem;

	--wrap: nowrap;

	--icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(183, 28, 28)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
}

h2 {
	font-size: 1.2rem;
}

h3 {
	font-size: 1rem;
}

img {
	border-radius: var(--border-radius);
}

body {
	min-height: calc(100vh - var(--spacing-sm) * 2);;
	background-color: var(--color-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing-sm);
	gap: var(--spacing-sm);
}

main {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	align-items: stretch;
	justify-content: center;
}

.center-complete {
	height: calc(100vh - var(--spacing-sm) * 2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg-accent);
	border-radius: var(--border-radius);

	header {
		display: flex;
		align-items: center;
		gap: var(--spacing);
		padding: var(--spacing);;
		background-color: var(--color-bg-accent-2);

		border-radius: var(--border-radius) var(--border-radius) 0 0;

		flex-wrap: var(--wrap);
	}

	section {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: var(--spacing);
		padding: var(--spacing);;
	}
}

hgroup {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}

form {
	display: flex;
	flex-direction: column;

	&.inline {
		flex-direction: row;
		justify-content: center;
	}

	gap: var(--spacing-sm);

	input, select {
		appearance: none;
		padding: 0.8rem 1.2rem;
		font-size: inherit;
		border-radius: var(--border-radius-sm);
		background-color: var(--color-bg);
		border: 2px solid var(--color-bg-accent-3);
		color: inherit;
		outline: none;
		transition: all 0.2s;

		&:focus-visible {
			border-color: var(--primary);
			box-shadow: 0 0 0 2px var(--primary-shadow);
		}

		&[aria-invalid="true"] {
			border-color: red;
			background-image: var(--icon-invalid);
			background-repeat: no-repeat;
			background-position: center right 0.75rem;
			padding-right: 2.5rem;
		}
	}

	label {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-xs);

		span {
			padding-left: var(--spacing-xs);
		}
	}
}

button {
	padding: 0.8rem 1.2rem;
	font-size: inherit;
	background-color: var(--primary);

	transition: all 0.2s;

	&:hover {
		background-color: var(--primary-hover);
	}

	border: none;
	border-radius: var(--border-radius-sm);
	color: inherit;
	cursor: pointer;

	&[aria-busy="true"]::before {
		content: "";
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 50%;
		border: 0.18rem solid #FFFFFFa0;
		border-right-color: transparent;
		display: inline-block;
		margin-right: 0.2rem;
		vertical-align: -0.1rem;
		animation: spin 0.6s linear infinite;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

nav {
	background-color: var(--color-bg-accent-2);
	display: flex;
	align-items: stretch;
	padding: var(--spacing-xs);
	border-radius: var(--border-radius);
	font-size: 1.2rem;
	width: 100%;

	h1 {
		font-weight: bold;
		font-size: inherit;
	}

	ul {
		display: flex;
		align-items: center;
		gap: var(--spacing-sm);

		&:first-child {
			flex: 1;
		}

		li {
			display: flex;
			align-items: center;
			gap: var(--spacing-xs);
		}
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 0.2rem;
		// border-radius: var(--border-radius);
		transition: all 0.2s;
		position: relative;

		&:hover {
			color: var(--primary);
			// box-shadow: inset 0 -2px 0 var(--primary);
		}

		.active {
			&::after {
				opacity: 1;
				display: inline;
				width: 80%;
				height: 0.2rem;
				content: "";
				position: absolute;
				bottom: -4px;
				left: 50%;
				margin-left: -40%;
				background-color: var(--primary);
				border-radius: 0.2rem;
				opacity: 1;
			}
		}
	}
}