@{
	ViewData["Title"] = "Login";
	Layout = "_Layout_Login";
}

@model LoginViewModel

<main class="center-complete">
	<article>
		<header>
			<img src="~/img/open-sos-id-logo.png" height="120" width="120" />
			<hgroup>
				<h1>Open SOS ID</h1>
				<h2>Self hosted medical information system for emergency services</h2>
			</hgroup>
		</header>

		<section>
			<form method="POST">
				<label>
					<span>Username</span>
					<input placeholder="Enter your username" name="Username" aria-invalid="@Model.Invalid()" />
				</label>
				<label>
					<span>Password</span>
					<input placeholder="Type your password" type="password" name="Password" aria-invalid="@Model.Invalid()" />
				</label>
				
				<button type="submit" aria-busy="false">
					Login
				</button>
			</form>
		</section>
	</article>
</main>
