@{
	ViewData["Title"] = "Login";
}

@model open_sos_id.Models.LoginViewModel

<article>
	<header class="flex-group">
		<img src="~/img/open-sos-id-logo.png" height="120" width="120" />
		<hgroup>
			<h1>Open SOS ID</h1>
			<h2>Self hosted medical information system for emergency services</h2>
		</hgroup>
	</header>

	<form method="POST">
		<input placeholder="Username" name="Username" aria-invalid="@Model.Invalid()" />
		<input placeholder="Password" type="password" name="Password" aria-invalid="@Model.Invalid()" />
		<button type="submit" aria-busy="false">
			Login
		</button>
	</form>
</article>